<h1>Our CMS Files</h1>
<ul>
	<% @files.each do |file| %>
		<li>
			<h4><a href = "/<%= file %>"><%= file %></a></h4>
			<a href = "/<%= file %>/edit">Edit File</a>
			<br><br>
			
			<form class = "inline" action = "/<%= file %>/delete" method = "post">
				<button type = 'submit'>Delete File</button>
			</form>

			<br>
		</li>
	<% end %>
</ul>

<a href = "/new">Create a New Document</a> 